* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Oswald";
}

#home nav {
  width: 100%;
  height: 60px;
  background: #121631;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 20;
}

.logo {
  width: 20%;
  margin-left: 10px;
}
.logo img {
  width: 70px;
}

.navbar {
  width: 70%;
  text-align: right;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul a {
  text-decoration: none;
  font-family: "Oswald";
  letter-spacing: 3px;
  color: white;
  font-weight: 100;
}

.btn {
  position: relative;
  padding: 1px 20px;
  text-decoration: none;
  color: white;
  font-family: "Oswald", "sans-serif";
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.btn::before, .btn::after {
  content: "";
  position: absolute;
  transition: inherit;
}

.btn:hover {
  transition-delay: 0.5s;
}

.btn:hover::before {
  transition-delay: 0s;
}

.btn:hover::after {
  background: rgba(255, 255, 255, 0.664);
  transition-delay: 0.35s;
}

/* From Top */
.from-top::before,
.from-top::after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top::before {
  bottom: 0;
  border: 1px solid #fff;
  border-top: 0;
  border-bottom: 0;
}

.from-top::after {
  top: 0;
  height: 0;
}

.from-top:hover::before,
.from-top:hover::after {
  height: 100%;
}

@media screen and (max-width: 1060px) {
  .navbar {
    visibility: hidden;
    width: 0%;
  }

  .logo {
    width: 40%;
  }

  .hamburger-menu {
    width: 35px;
    height: 40px;
    position: absolute;
    top: 17px;
    right: 2rem;
    z-index: 100000;
    cursor: pointer;
  }
  .hamburger-menu .hamburger {
    width: 30px;
    height: 2px;
    background-color: #BC9725;
    display: inline-block;
    position: relative;
    transition: all 0.6s ease;
  }
  .hamburger-menu .hamburger.open {
    background: transparent;
    transform: rotate(720deg);
  }
  .hamburger-menu .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #BC9725;
    top: -8px;
    right: 0;
  }
  .hamburger-menu .hamburger::before {
    content: "";
    position: absolute;
    top: 8px;
    background-color: #BC9725;
    width: 30px;
    height: 2px;
    transition: all 0.5s ease;
  }
  .hamburger-menu .hamburger.open::before {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .hamburger-menu .hamburger.open::after {
    transform: rotate(45deg) translate(7px, 5px);
  }

  .navbar {
    position: fixed;
    width: 100vw;
    visibility: hidden;
    opacity: 0.97;
    top: 0;
    left: 0;
    transition: all 1.5s cubic-bezier(0.84, 0.22, 0.32, 0.58);
  }
  .navbar.open {
    visibility: visible;
  }
  .navbar .navMenu {
    height: 100vh;
    width: 100%;
    background-color: #121631;
    transform: translateY(-100vh);
    transition: all 0.7s cubic-bezier(0.68, 0.19, 0.46, 0.77);
    justify-content: center;
    align-items: center;
    flex-flow: column;
    display: flex;
  }
  .navbar .navMenu .nav-item {
    transform: translateX(110vw);
    transition: all 0.8s linear;
  }
  .navbar .navMenu .nav-item a {
    font-size: 24px;
  }
  .navbar .navMenu .nav-item.open {
    transform: translateX(0);
  }
  .navbar .navMenu.open {
    transform: translateY(0);
  }
  .navbar .navMenu li {
    margin-top: 50px;
  }

  .navMenu .nav-item:nth-child(1) {
    transition-delay: 0.35s;
  }

  .navMenu .nav-item:nth-child(2) {
    transition-delay: 0.55s;
  }

  .navMenu .nav-item:nth-child(3) {
    transition-delay: 0.75s;
  }

  .navMenu .nav-item:nth-child(4) {
    transition-delay: 0.95s;
  }
}
#overlay {
  background-color: black;
  height: 100%;
  width: 100%;
}

.slider-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background: black;
}
.slider-container .image-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  transition: 1.5s;
  transition-delay: 0s;
  -webkit-clip-path: circle(0px at center);
          clip-path: circle(0px at center);
}
.slider-container .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.15;
  z-index: 1;
}
.slider-container .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.slider-container .slider-content h1 {
  color: white;
  font-weight: 200;
  word-spacing: 20px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 50px;
  font-family: "Oswald";
  text-align: center;
}
.slider-container .slider-content p {
  font-size: 32px;
  color: white;
  font-weight: 100;
  font-family: "Oswald";
  text-align: center;
  text-transform: uppercase;
  word-spacing: 10px;
  margin-top: 15px;
}
.slider-container .slider-content .span {
  color: #BC9725;
}
.slider-container .slider-content .btn-container {
  text-align: center;
  margin-top: 30px;
}
.slider-container .slider-content .btn-container a {
  position: relative;
  padding: 10px;
  background: #121631;
  display: inline-block;
  font-size: 19px;
  font-family: "Oswald";
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  word-spacing: 7px;
}
.slider-container .slider-content .btn-container a span {
  display: block;
  position: absolute;
  background: #eafa0c;
}
.slider-container .slider-content .btn-container a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.7s ease;
}
.slider-container .slider-content .btn-container a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.slider-container .slider-content .btn-container a span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s ease;
  transition-delay: 0.5s;
}
.slider-container .slider-content .btn-container a:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.slider-container .slider-content .btn-container a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.7s ease;
}
.slider-container .slider-content .btn-container a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.slider-container .slider-content .btn-container a span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s ease;
  transition-delay: 0.5s;
}
.slider-container .slider-content .btn-container a:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.slider-container input[type=radio] {
  position: relative;
  outline: none;
  cursor: pointer;
  z-index: 10000;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 20px;
}
.slider-container input[type=radio]:checked + .image-container {
  -webkit-clip-path: circle(1000px at center);
          clip-path: circle(1000px at center);
  z-index: 10;
  transition-delay: 0.8s;
}

@media screen and (max-width: 520px) {
  .slider-container .slider-content h1 {
    font-size: 30px;
    word-spacing: 0px;
  }
  .slider-container .slider-content p {
    font-size: 20px;
  }
  .slider-container .slider-content .btn-container a {
    font-size: 12px;
  }
}
.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45%;
  left: 0px;
  padding: 10px 10px;
  z-index: 1000000000000;
}
.social-icons a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  transition: all 0.6s ease;
}
.social-icons a:hover {
  color: #BC9725;
}

#contact {
  background: url("contact-background.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
#contact h1 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 4px;
  padding-top: 50px;
}
#contact p {
  width: 70%;
  margin: auto;
  font-weight: 200;
  margin-top: 15px;
}

.contact-container {
  display: flex;
  width: 90%;
  margin: auto;
  height: 400px;
  background-color: #121631;
  margin-top: 50px;
  margin-bottom: 30px;
}
.contact-container .address {
  width: 50%;
}
.contact-container .message {
  width: 50%;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 30px;
}
.contact-container .message h2 {
  font-weight: 500;
  word-spacing: 3px;
  font-size: 29px;
  margin: 30px auto;
}
.contact-container .message input, .contact-container .message textarea {
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  margin-bottom: 23px;
}
.contact-container .message textarea::-moz-placeholder {
  font-size: 18px;
  font-weight: 100;
  word-spacing: 3px;
}
.contact-container .message textarea:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 100;
  word-spacing: 3px;
}
.contact-container .message input, .contact-container .message textarea::placeholder {
  font-size: 18px;
  font-weight: 100;
  word-spacing: 3px;
}
.contact-container .message button {
  padding: 10px 14px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: block;
  transition: all 0.5s ease;
}
.contact-container .message button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 650px) {
  .contact-container .message {
    visibility: hidden;
    width: 50%;
  }
  .contact-container .address {
    width: 100%;
  }
}
.sub-address {
  display: flex;
  width: 50%;
  margin: 30px auto;
}
.sub-address img {
  width: 55px;
  height: 55px;
  padding: 13px;
  background: white;
  border-radius: 50%;
}

.address-content {
  margin-left: 20px;
  text-align: left;
}
.address-content h2 {
  color: #BC9725;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 23px;
}
.address-content h5 {
  font-weight: 100;
  margin-top: 7px;
}

footer {
  width: 100%;
  background: black;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: white;
  padding: 14px 0px;
}

#services, #about {
  width: 85%;
  margin: auto;
}

.heading {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 300;
  word-spacing: 10px;
  text-transform: uppercase;
  color: #121631;
}

.criminal-litigation {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}

.image img {
  width: 500px;
  border: 8px double #BC9725;
}

.content {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 30px;
    margin-top: 30px;
  }

  .criminal-litigation {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1040px) {
  .image img {
    width: 400px;
  }
}
@media screen and (max-width: 880px) {
  .image img {
    width: 300px;
  }

  .content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .criminal-litigation {
    flex-direction: column;
  }

  .image {
    text-align: center;
  }
  .image img {
    width: 90%;
  }

  .content {
    margin: auto;
    width: 90%;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */